@import url("https://use.typekit.net/lch5epc.css");
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Main page*/
header {
  background-image: url("images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-top: -70px;
}

.logo h1 {
  font-size: 60pt;
  font-weight: bold;
  font-family: myriad-pro, sans-serif;
  color: #fff;
  padding: 12px 45px 12px;
  letter-spacing: -3px;
  margin-left: 45px;
  line-height: 48pt;
  margin-top: 70px;
  padding-top: 100px;
}

.logo h1 span {
  color: #ffc600;
  font-size: 60pt;
  font-family: myriad-pro, sans-serif;
}

.nav ul {
  color: #ffc600;
  display: inline-block;
  text-decoration: none;
  font-size: 18pt;
  font-family: myriad-pro, sans-serif;
  font-weight: 100;
  margin-top: 0px;
}

.nav li {
  display: inline;
  position: relative;
  padding-left: 0;
  padding-right: 0px;
  font-family: "myriad-pro", sans-serif;
  letter-spacing: 0px;
  margin-left: 45px;
}

.nav li:hover {
  color: #fff;
  border-bottom: 2px solid #ffc600;
  padding-bottom: 5px;
}

/* About */
.bio {
  height: 100%;
  width: 100%;
}

.info {
  display: grid;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-left: 135px;
  margin-bottom: 10%;
}

#left {
  width: 50%;
  align-content: left;
  text-align: left;
  margin-bottom: 0;
  max-height: 30vh;
}

#about h2 {
  margin-bottom: 0;
}

#about #left h1 {
  margin-bottom: 0px;
  line-height: 0;
}

#right h4 {
  font-size: 16pt;
  font-style: italic;
  color: #000;
}

#right h4 p {
  font-size: 16pt;
  font-style: italic;
  color: #000;
}

#right p {
  font-size: 14pt;
  font-style: normal;
  color: #676767;
  text-align: justify;
}

#right {
  width: 50%;
  text-align: right;
}

#about h2 {
  color: #717171;
  font-size: 35pt;
  margin-bottom: 0px;
  margin-top: 20px;
  letter-spacing: 0;
  padding-bottom: 4px;
  padding-left: 5px;
}

#line {
  border-left: 2px solid grey;
  margin-left: 20px;
  padding-left: 25px;
  height: 240px;
  margin-top: 50px;
}

#about h1 {
  color: #000;
  font-size: 80pt;
  margin-top: 0px;
}

#about span {
  color: #ffc600;
}

#about #border {
  color: #000;
  border-bottom: 2px solid #c5c5c5;
}

#about > div {
  padding: 0.5em;
  background: #fff;
  text-align: center;
}

#about section {
  background-color: #fff;
  height: 100%;
}

.m_center {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  flex-direction: row;
  margin-top: 100px;
}

.m_center img {
  position: absolute;
}

.m_center #text {
  padding-top: 60px;
  width: 70%;
  margin-left: 18%;
}

.m_center h4 {
  font-size: 18pt;
  margin-bottom: 0px;
}

.m_center p {
  font-style: italic;
  font-size: 10pt;
}

/* Featured Projects */
.projects #top h1 {
  margin-left: 60px;
  margin-bottom: 40px;
}

#top h1 {
  color: #000;
  font-size: 60pt;
}

#name {
  border-bottom: 2px solid #c5c5c5;
  color: #000;
}

.f {
  color: #ffc600;
}

.projects {
  height: 100vh;
  width: 100%;
}

.projects li {
  font-size: 14pt;
  color: #000;
  display: inline;
  padding-left: 30px;
}

.projects ul {
  list-style-type: none;
  display: inline-block;
}

.gallery {
  width: 100%;
  display: flex;
}

.projects li:hover {
  border-bottom: 2px solid #ffc600;
}

#photo img {
  display: flex;
  width: 400px;
  height: 300px;
  width: 25%;
  float: left;
}

/* Strategic Process*/
#name {
  border-bottom: 2px solid #c5c5c5;
  color: #000;
}

.f {
  color: #ffc600;
}

.process {
  height: 100%;
}

.top #high-text {
  font-size: 16pt;
  font-style: italic;
  color: #000;
  text-align: justify;
  margin-left: 60px;
  width: 90vw;
}

.top #bottom-text {
  font-size: 14pt;
  font-style: normal;
  color: #717171;
  text-align: left;
  margin-left: 60px;
  width: 90vw;
}

.content-process {
  margin-top: 50px;
}

.content-process img {
  width: 430px;
  text-align: left;
}

#firstblock {
  text-align: center;
}

#grid {
  display: grid;
  grid-auto-flow: column;
  width: 54%;
  margin-left: calc(100vw - 80%);
  height: 267px;
}

#firstblock div {
  width: 70%;
  text-align: justify;
  padding-left: 20px;
  width: 430px;
  height: 100%;
}

#firstblock #high {
  font-size: 12pt;
  font-style: italic;
}

#firstblock #lower {
  font-size: 10pt;
  font-style: normal;
}

#second {
  width: 430px;
  text-align: left;
}

#text {
  width: 430px;
  padding-left: 20px;
  text-align: left;
}

#text #high {
  font-size: 12pt;
  font-style: italic;
}

#text #lower {
  font-size: 10pt;
  font-style: normal;
}

.process h1 {
  margin-left: 60px;
  margin-bottom: 40px;
  color: #000;
  font-size: 60pt;
}

#text h1 {
  margin-left: 100px;
  margin-bottom: 40px;
  color: #000;
  font-size: 60pt;
}

.content-process {
  width: 100%;
  text-align: center;
}

.services {
  height: 70vh;
  background-image: url("images/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  background: linear-gradient(90deg, rgba(18, 9, 44, 0.8) 60%, rgba(142, 24, 204, 0.6) 100%, #b80c67 100%);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.services #top h1 {
  margin-left: 60px;
  margin-bottom: 5%;
  padding-top: 5%;
}

.back #top h1 {
  color: #fffefe;
  font-size: 60pt;
}

.back #name {
  color: #fffefe;
  font-size: 60pt;
}

.columns-text {
  font-size: 12pt;
  color: white;
  column-width: 200px;
  column-count: 2;
  column-gap: 90px;
  width: 50%;
  float: right;
  margin-right: 10%;
}

.columns-text h2 {
  font-size: 18pt;
  color: white;
  margin-top: 0;
}

.our-team {
  height: 70vh;
  width: 100%;
  display: grid;
  margin-top: 0;
}

.top {
  width: 70%;
}

.photo {
  margin-left: 60px;
  float: right;
  width: 50%;
  margin-top: -14%;
}

.our-team #top h1 {
  margin-left: 60px;
  margin-bottom: 5%;
}

.our-team p {
  font-size: 16pt;
  font-style: italic;
  color: #000;
}

.photo #high-text {
  margin-left: 0;
  font-size: 16pt;
  margin-right: 5%;
}

.photo #bottom-text {
  margin-left: 0;
  margin-right: 5%;
}

.photo img {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.img {
  padding: 10px;
}

.top #top {
  width: 100%;
}

.testimonials {
  height: 70vh;
  background-color: #000;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.testimonials #name {
  color: white;
  border-bottom: 2px solid #c5c5c5;
}

.testimonials #top h1 {
  color: white;
  margin-left: 60px;
  margin-bottom: 10%;
}

.test #high-text {
  color: white;
  font-size: 16pt;
  font-style: italic;
  text-align: justify;
  margin-left: 60px;
  display: flex;
}

.test #bottom-text {
  font-size: 14pt;
  font-style: normal;
  color: #717171;
  text-align: left;
  margin-left: 60px;
}

#texty {
  width: 50%;
  padding-left: 10%;
}

#dev-photo img {
  width: 50%;
  margin-top: 35vh;
  border: 2px solid #ffc600;
  border-radius: 50%;
}

#dev-photo p {
  color: white;
  font-size: 12pt;
  width: 55%;
}

.blogs {
  height: 80vh;
  width: 100%;
}

.blogs h1 {
  margin-left: 60px;
  margin-bottom: 5%;
  border-bottom: 2px solid grey;
  width: 20%;
}

#middle-menu {
  width: 20%;
  margin-left: 20%;
}

#middle-menu ul {
  font-size: 18pt;
}

#middle-menu li {
  list-style-type: none;
  padding-bottom: 20px;
}

#middle-menu a {
  text-decoration: none;
  color: black;
  display: block;
  text-decoration: none;
}

#middle-menu a:hover {
  color: #ffc600;
  border: none;
}

.blogs #content-photo {
  height: 100%;
  width: 55%;
  margin-right: 20px;
  margin-top: -25%;
  display: flex;
  flex-flow: row;
  float: right;
  color: #ffc600;
}

.blogs img {
  width: 200px;
  height: 250px;
  padding: 30px;
}

.blogs #high-text {
  color: black;
  font-size: 14pt;
  font-style: italic;
  text-align: justify;
  display: flex;
  padding: 0;
}

.blogs #bottom-text {
  font-size: 12pt;
  font-style: normal;
  color: #717171;
  text-align: left;
}

#contact {
  height: 100vh;
  width: 100%;
  background-color: #2046b3;
}

#contact #right {
  width: 60%;
  position: absolute;
}

#contact-text h1 {
  color: #fff;
  margin-left: 30%;
  margin-bottom: 10px;
  font-size: 60pt;
  border-bottom: 2px solid #717171;
  float: left;
}

.content-contact {
  display: grid;
  grid-template-columns: 40% 60%;
  position: absolute;
}

#contact #left iframe {
  width: 40vw;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], textarea {
  width: 80%;
  padding: 12px;
  border: 2px solid #ccc;
  margin-top: 6px;
  margin-left: 70px;
  resize: vertical;
  background-color: #2046b3;
}

input[type=submit] {
  background-color: #ffc600;
  color: black;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 20%;
  font-weight: bolder;
  margin-left: 70px;
}

input[type=submit]:hover {
  background-color: #e7e7e7;
}

.right ::placeholder {
  color: #fff;
}

/* Create two columns that float next to eachother */
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.inp {
  color: #fff;
  margin-left: 15%;
}

#bottom-line {
  border-bottom: 2px solid #546079;
  width: 80%;
  margin-left: 70px;
}

#social {
  display: block;
  margin-left: 70px;
  margin-top: 10px;
  width: 100%;
  padding-left: 20px;
}

.br {
  width: 100%;
  height: 200px;
}

.last-row {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#last-block {
  display: grid;
  grid-template-columns: 30% 70%;
}

#left-block {
  background: #000;
  height: 100vh;
}

#last-block h1 {
  color: white;
  padding-left: 50px;
}

#right-block {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 60%, rgba(31, 27, 31, 0.6) 100%, #272727 60%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#right-block .logo h1 {
  font-size: 60pt;
  margin-top: 0;
  line-height: 80%;
}

#right-block h1 {
  padding-top: 50%;
}

.right-block-bg {
  background-image: url("images/13.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#right-block .logo span {
  font-size: 90pt;
}

#bottom-menu {
  margin-bottom: 10%;
  float: left;
  margin-left: 20px;
}

#bottom-menu li {
  list-style-type: none;
  padding-bottom: 20px;
  color: #fff;
}

#bottom-menu a {
  color: #fff;
  text-decoration: none;
}

#bottom-menu a:hover {
  color: #ffc600;
}

#social-nav {
  border-top: 2px solid #ffc600;
  margin-left: 40px;
  padding-top: 10%;
  width: 150px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}